<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
  <display-name>Archetype Created Web Application</display-name>


<welcome-file-list>

<welcome-file>EMP_MANAGEMENT_SYSTEM</welcome-file>

</welcome-file-list>


<servlet>

<servlet-name>LoginTest</servlet-name>

<servlet-class>com.dev.test.LoginTest</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>LoginTest</servlet-name>

<url-pattern>/Login</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>SearchEmpTest</servlet-name>

<servlet-class>com.dev.test.SearchEmpTest</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>SearchEmpTest</servlet-name>

<url-pattern>/SearchEmployee</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>CreateProfileTest</servlet-name>

<servlet-class>com.dev.test.CreateProfileTest</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>CreateProfileTest</servlet-name>

<url-pattern>/CreateEmpProfile</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>UpdateEmpTest</servlet-name>

<servlet-class>com.dev.test.UpdateEmpTest</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>UpdateEmpTest</servlet-name>

<url-pattern>/UpdateEmpTest</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>EmpDetailsTest</servlet-name>

<servlet-class>com.dev.test.EmpDetailsTest</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>EmpDetailsTest</servlet-name>

<url-pattern>/EmpDetailsTest</url-pattern>

</servlet-mapping>



















</web-app>



















































































































































































































